@charset "utf-8";
body {
	font-family: sans-serif;
}
a:hover{
text-decoration:underline;
}
h1 {
	font-size: 21px;
}
h2 {
	font-size: 18px;
}
p {
	margin-top: 0;
	margin-bottom: 0;
}
body {
	line-height: 1.7;
}
.lead {
	font-weight: bold;
}
p {
	text-align: justify;
}
.note {
	padding-left: 1em;
	text-indent: -1em;
}
body {
	color: rgba(0,42,90,0.5);
background-color: green;
}
title {
	border: 6px solid #ff00ff;
}
a:active{
	color:purple;
}


